html {
    font-size: 10px;
}

body {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 5rem;
}


/* Set wrapper text-align to center, and .d3-div to display inline block 
   to center*/
.wrapper {
    text-align: center;
    font-size: 2.2rem;
}

.d3-div {
    display: inline-block;
}



/* Add some padding so y-axis ticks and label don't get truncated. */
svg {
    padding: 10rem;
}

#tooltip {
  position: absolute;
  display: none; /*will set inline block in d3*/
  min-width: 80px;
  height: auto;
  background: #B9BBB6;/* #94ffdf;*/
  opacity: 0.7;
  border: 1px solid #f50707;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: black;
  box-shadow: 3px 3px 20px #B9BBB6;/*#6c96ff;*/
}
